<%= turbo_frame_tag comment do %>
  <li class='comment' id="<%= dom_id comment %>">
      <strong><%= comment.user.name %>:</strong>


    <p>
      <%= comment.content %>
      <% if current_user == comment.user %>
        <div>
          <%= link_to "Edit this comment", comment %>

          <%= button_to "Destroy this comment", comment, method: :delete %>
        </div>
      <% end %>
    </p>
    <%#= turbo_frame_tag nested_dom_id(commentable, comment.id, 'new_comment') %>
    <%#= link_to 'Add a reply',
                [:new, commentable, :comment, parent_id: comment.id],
                data: { turbo_frame: nested_dom_id(commentable, comment.id, 'new_comment') } %>
  </li>
<% end %>

