<%= turbo_frame_tag comment do %>
  <li class='comment' id="<%= dom_id comment %>">
    <div class='comment_wrapper'>
      <div class="link">
        <!-- this will eventually be rendering the user hover thing -->
        <strong><%= comment.user.name %></strong>
      </div>

      <div class="comment_content"><%= comment.content %></div>

      <% if current_user == comment.user %>
        <div class='hidden'>
          <%= link_to 'Show comment', comment, data: {turbo_frame: '_top'}%>
          <%= link_to "Edit this comment", edit_comment_path(comment) %>
          <%= button_to "Destroy this comment", comment, method: :delete %>
        </div>
      <% end %>
    </div>

    <div class="comment_reactions">
      <%= render 'reactions/reaction_navigation', reactable: comment %>
      <%= render 'reactions/reaction_count', reactable: comment %>
      <%= render 'shared/timestamp', object: comment %>
    </div>

  </li>
<% end %>

