<%= turbo_frame_tag comment %>
  <li class='comment' id="<%= dom_id comment %>">
    <p>
      <strong><%= comment.user.name %>:</strong>
    </p>

    <p>
      <%= comment.content %>
      <% if current_user == comment.user %>
        <div>
          <%= link_to "Edit this comment", comment %>

          <%= button_to "Destroy this comment", comment, method: :delete %>
        </div>
      <% end %>
    </p>
    <%= turbo_frame_tag nested_dom_id(comment.commentable, comment.id, 'new_comment') do %>
      <%= link_to 'Add a reply', [:new, comment.commentable, :comment, parent_id: comment.id] %>
    <% end %>
    <%= turbo_frame_tag nested_dom_id(comment.commentable, comment.id, 'comments') do %>
      <% if comment.child_comments.any? %>
        <ul>
          <%= render comment.child_comments %>
        </ul>
      <% end %>
    <% end %>
  </li>

