<%= turbo_frame_tag comment do %>
  <li class='comment' id="<%= dom_id comment %>">
    <div class="comment_wrapper">
      <div class='comment_content'>
        <div class="link">
          <!-- this will eventually be rendering the user hover thing -->
          <strong><%= comment.user.name %></strong>
        </div>
        <div class="comment_content_text"><%= comment.content %></div>
      </div>
      <div class="comment_options">
        <div class='options' data-controller='hidden'>
          <div class="options_button btn btn_dark" data-action='click->hidden#toggle'>
            Options
          </div>
          <ul class='options_menu hidden' data-hidden-target='display' >
            <li><%= link_to 'Show comment', comment, data: {turbo_frame: '_top'}, class: 'btn btn_dark'%></li>
            <% if current_user == comment.user %>
              <li><%= link_to "Edit this comment", edit_comment_path(comment), class: 'btn btn_dark' %></li>
              <li><%= button_to "Destroy this comment", comment, method: :delete, class: 'btn btn_dark' %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="comment_reactions">
      <%= render 'reactions/reaction_navigation', reactable: comment %>
      <%= render 'reactions/reaction_count', reactable: comment %>
      <%= render 'shared/timestamp', object: comment %>
    </div>

  </li>
<% end %>

