<%= turbo_frame_tag comment do %>
  <li class='comment' id="<%= dom_id comment %>">
    <div class="comment_wrapper">
      <div class='comment_content'>
        <div class="link">
          <!-- this will eventually be rendering the user hover thing -->
          <strong><%= comment.user.name %></strong>
        </div>
        <div class="comment_content_text text"><%= comment.content %></div>
      </div>
      <div class="comment_options">
        <%= render 'shared/options', object: comment %>
      </div>
    </div>

    <div class="comment_reactions">
      <%= render 'reactions/reaction_navigation', reactable: comment %>
      <%= render 'reactions/reaction_count', reactable: comment %>
      <%= render 'shared/timestamp', object: comment %>
    </div>

  </li>
<% end %>

