<%= form_with model: [commentable, comment] do |form| %>
  <% edit ||= false %>
  <% if comment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="text_form" data-controller='button-submit'>
    <div class='text_form_text'>
      <%= form.label :content, class: "visuallyhidden" %>
      <%= form.text_area :content,
        autofocus: edit,
        class: 'text_form_text_input',
        placeholder: 'Add a comment...',
        data: {controller: 'resize',  focus_target: 'input', resize_target: 'input', action: 'resize#resizeInput keypress->button-submit#submitOnReturn'} %>
    </div>
    <div class='text_form_button'>
      <% if local_assigns[:parent_id] %>
        <%= form.hidden_field :parent_id, value: parent_id %>
      <% end %>
      <%= form.button class: 'btn btn_circle', data: { button_submit_target: 'button' }, aria: {label: 'submit'} do %>
        <i class="fa-solid fa-paper-plane"></i>
      <% end %>
    </div>
  </div>
<% end %>
