<%= form_with model: [commentable, comment] do |form| %>
  <% if comment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="text_form">
    <div class='text_form_text'>
      <%= form.label :content, style: "display: none" %>
      <%= form.text_area :content, class: 'text_form_text_input'%>
    </div>
    <div class='text_form_button'>
      <% if local_assigns[:parent_id] %>
        <%= form.hidden_field :parent_id, value: parent_id %>
      <% end %>
      <%= link_to 'Cancel', commentable, class: 'btn' %>
      <%= form.submit class: 'btn' %>
    </div>
  </div>
<% end %>
