<p style="color: green"><%= notice %></p>

<%= render @comment, commentable: @commentable %>

<div>
  <%= link_to "Edit this comment", [@commentable, @comment] %> |
  <%= link_to "Back to parent", @comment.commentable%>

  <%= button_to "Destroy this comment", [@commentable, @comment], method: :delete %>
</div>
