<p style="color: green"><%= notice %></p>

<%= turbo_frame_tag @comment do %>
  <%= render 'comments/comment', comment: @comment %>
<% end %>

<div>
  <%= link_to "Edit this comment",  edit_comment_path %> |
  <%= link_to "Back to parent", @comment.commentable%>

  <%= button_to "Destroy this comment", @comment, method: :delete %>
</div>
