<% md5 = Digest::MD5.hexdigest(@user.email.downcase)%>

<h1>
  <img src="https://www.gravatar.com/avatar/<%= md5 %>" />
  <%= @user.name %>'s Profile
</h1>

<% unless current_user == @user %>
  <h2>Manage Friendship</h2>
  <div class="card">
    <%= turbo_frame_tag nested_dom_id(@user, 'manage_friendship') do %>
      <%= render 'friendships/manage', user: @user %>
    <% end %>
  </div>
<% end %>

<h2><%= "#{@user.name}'s Posts"  %></h2>

<%= render(@posts) || "#{@user.name} has no posts"%>

<h2><%= @user.name %>'s Friends </h2>

<%= turbo_frame_tag nested_dom_id(@user, 'friendships'), src: [@user, :friendships] %>


