<h1><%= @user.name %>'s Profile</h1>

<h2><%= link_to "#{@user.name}'s Posts"  %></h2>
<h2><%= link_to "#{@user.name}'s Friends", user_friendships_path(@user), data: {turbo_frame: 'profile_tab'} %></h2>

<%= turbo_frame_tag 'profile_tab' %>

<%= render @posts %>

<h2><%= @user.name %>'s Friends </h2>

<%= render @user.active_friends %>
