<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="text_form" data-controller='button-submit'>
    <div class='text_form_text'>
      <%= form.label :content, style: "display: none" %>
      <%= form.text_area :content,
        class: 'text_form_text_input',
        placeholder: "What's on your mind?",
        data: {controller: 'resize', resize_target: 'input', action: 'resize#resizeInput keypress->button-submit#submitOnReturn'} %>
    </div>
    <div class='text_form_button'>
      <%= form.button class: 'btn', data: { button_submit_target: 'button'} do %>
        <i class="fa-solid fa-paper-plane"></i>
      <% end %>
    </div>
  </div>
<% end %>
