<%= turbo_frame_tag post do %>
  <div class='post'>

    <div class="post_header">
      <div class="post_info">
        <div class="display_on_hover">
          <span class='display_on_hover_show'>
            <%= link_to post.user.name, post.user, data: { turbo_frame: '_top' } %>
          </span>
          <div class="display_on_hover_hidden">
            <p>Hook up to user hovercard lazy loading at some point</p>
          </div>
        </div>

        <div class="display_on_hover">
          <span class='display_on_hover_show'>
            <%= time_ago_in_words(post.created_at) %> ago
          </span>
          <div class="display_on_hover_hidden">
            <%= post.created_at.to_formatted_s(:long) %>
          </div>
        </div>

      </div>
      <div class='post_options'>
        <details>
          <summary>Options</summary>
          <div class="display_on_click">
            <% if current_user == post.user %>
              <%= link_to "Edit this post", edit_post_path(post) %>
              <%= button_to "Destroy this post", post, method: :delete %>
            <% end %>
          </div>
        </details>

      </div>
    </div>

    <div class="post_content">
      <p>
        <%= post.content %>
      </p>
    </div>


    <%= render 'reactions/reaction_navigation', reactable: post %>

    <ul>
      <%= turbo_frame_tag nested_dom_id(post, 'comments') do %>

        <%= render post.comments %>

        <%#= sorted_nested_li(post.comments, :id) do |comment| %>
          <%#= render comment, commentable: post %>
          <%#= turbo_frame_tag nested_dom_id(post, comment.id, 'comments') %>
        <%# end %>
      <% end %>
    </ul>

      <%#= turbo_frame_tag nested_dom_id(post, 'comments') do %>
        <%# post.comments.each do |comment| %>
          <%# next unless comment.root? %>
          <%#= render comment, commentable: post%>
        <%# end %>
      <%# end %>

    <%= turbo_frame_tag nested_dom_id(post, 'new_comment') %>

    <%= link_to 'Add a comment',
                new_post_comment_path(post),
                data: { turbo_frame: nested_dom_id(post, 'new_comment') } %>

  </div>
<% end %>
