<%= turbo_frame_tag post do %>
  <div class='post' id="<%= dom_id post %>">
    <p>
      <strong>Content:</strong>
      <%= post.content %>
    </p>

    <p>
      <strong>User:</strong>
      <%= post.user.first_name %>
      <%= post.user.last_name %>
    </p>

    <%= link_to "Show this post", post, data: { turbo_frame: '_top'} %>

    <% if current_user == post.user %>
      <div>
        <%= link_to "Edit this post", edit_post_path(post) %>

        <%= button_to "Destroy this post", post, method: :delete %>
      </div>
    <% end %>
    <%= turbo_frame_tag nested_dom_id(post, 'comments') do %>
      <%= link_to 'Show comments', post_comments_path(post) %>
    <% end %>

    <%= turbo_frame_tag nested_dom_id(post, 'new_comment') do %>
      <%= link_to 'Add a comment', new_post_comment_path(post) %>
    <% end %>

    <%= turbo_frame_tag nested_dom_id(post, 'new_comment') %>
      <%#= render 'comments/form', comment: post.comments.build %>
  </div>
<% end %>
