<%= turbo_frame_tag post do %>
  <div class='post'>

    <div class="post_header">
      <div class="post_info">
        <div class="display_on_hover">
          <span class='display_on_hover_show'>
            <%= link_to post.user.name, post.user, data: { turbo_frame: '_top' } %>
          </span>
          <div class="display_on_hover_hidden">
            <p>Hook up to user hovercard lazy loading at some point</p>
          </div>
        </div>

        <div class="display_on_hover">
          <span class='display_on_hover_show'>
            <%= time_ago_in_words(post.created_at) %> ago
          </span>
          <div class="display_on_hover_hidden info_card">
            <%= post.created_at.to_formatted_s(:long) %>
          </div>
        </div>

      </div>
      <div class='post_options'>
        <details>
          <summary>Options</summary>
          <div class="display_on_click">
            <% if current_user == post.user %>
              <%= link_to "Edit this post", edit_post_path(post) %>
              <%= button_to "Destroy this post", post, method: :delete %>
            <% end %>
          </div>
        </details>

      </div>
    </div>

    <div class="post_content">
      <p>
        <%= post.content %>
      </p>
    </div>

    <div class="post_footer" data-controller='hidden'>

      <div class="post_stats">
        <div class="post_stats_reactions">
          <% if post.reactions.size > 0 %>
            <%= render 'reactions/reaction_count', reactable: post%>
          <% end %>
        </div>
        <div class="post_stats_comments">
          <% if post.comments.size > 0 %>
            <%= link_to "#{post.comments.size} comments", 'javascript:;', data: { action: 'hidden#toggle' } %>
          <% end %>
        </div>
      </div>
      <%#= render 'reactions/reaction_navigation', reactable: post %>
      <div class="post_interaction">
        <p>Like Button Here</p>
        <p>Comment Button Here</p>
      </div>
      <div class='hidden' data-hidden-target='display'>
        <%= turbo_frame_tag nested_dom_id(post, 'comments'), src: [post, :comments], loading: :lazy do %>
          Loading...
        <% end %>
      </div>
      <%= turbo_frame_tag nested_dom_id(post, 'new_comment') do %>
      <% end %>
      <%= link_to 'Add a comment',
                  new_post_comment_path(post),
                  data: { turbo_frame: nested_dom_id(post, 'new_comment') } %>
    </div>

  </div>
<% end %>
