<%= turbo_frame_tag post do %>
  <div class='post'>

    <div class="post_header">
      <div class="post_info">
        <div class="display_on_hover">
          <span class='display_on_hover_show'>
            <%= link_to post.user.name, post.user, data: { turbo_frame: '_top' }, class: 'link' %>
          </span>
          <div class="display_on_hover_hidden">
            <p>Hook up to user hovercard lazy loading at some point</p>
          </div>
        </div>

        <%= render 'shared/timestamp', object: post %>
      </div>

      <div class='post_options'>
        <%= render 'shared/options', object: post %>
      </div>
    </div>

    <div class="post_content">
      <p class='text'><%= post.content %></p>
    </div>

    <div class="post_footer" data-controller='focus hidden'>

      <div class="post_stats">
        <div class="post_stats_reactions">
          <%= render 'reactions/reaction_count', reactable: post%>
        </div>
        <div class="post_stats_comments">
          <% if post.comments.size > 0 %>
            <%= link_to "#{post.comments.size} comments", 'javascript:;', data: { action: 'hidden#toggle' }, class: 'link' %>
          <% end %>
        </div>
      </div>
      <div class="post_interaction">
        <%= render 'reactions/button', reactable: post %>
        <%= link_to 'Comment',
          'javascript:;',
          data: { action: 'click->focus#focusInput'  },
          class: 'btn' %>
      </div>
      <div class='hidden' data-hidden-target='display'>
        <%= turbo_frame_tag nested_dom_id(post, 'comments'), src: [post, :comments], loading: :lazy do %>
          Loading...
        <% end %>
      </div>
      <%= turbo_frame_tag nested_dom_id(post, 'new_comment'), src: new_post_comment_path(post), loading: :lazy do %>
        Loading...
      <% end %>
    </div>

  </div>
<% end %>
