<%= turbo_frame_tag post do %>
  <div class='post' id="<%= dom_id post %>">
    <p>
      <strong>Content:</strong>
      <%= post.content %>
    </p>

    <p>
      <strong>User:</strong>
      <%= post.user.first_name %>
      <%= post.user.last_name %>
    </p>

    <%= link_to "Show this post", post, data: { turbo_frame: '_top'} %>

    <% if current_user == post.user %>
      <div>
        <%= link_to "Edit this post", edit_post_path(post) %>

        <%= button_to "Destroy this post", post, method: :delete %>
      </div>
    <% end %>

    <% if current_user.id.in?(post.reactions.pluck(:user_id)) %>
      <% post.reactions.each do |reaction| %>
        <%= render reaction if reaction.user_id = current_user.id %>
      <% end %>
    <% else %>
      <%= button_to 'Like this post', post_reactions_path(post) %>
    <% end %>

    <%= pluralize(post.reactions.size, 'like') %>

    <ul>
      <%= turbo_frame_tag nested_dom_id(post, 'comments') do %>

        <%= render post.comments %>

        <%#= sorted_nested_li(post.comments, :id) do |comment| %>
          <%#= render comment, commentable: post %>
          <%#= turbo_frame_tag nested_dom_id(post, comment.id, 'comments') %>
        <%# end %>
      <% end %>
    </ul>

      <%#= turbo_frame_tag nested_dom_id(post, 'comments') do %>
        <%# post.comments.each do |comment| %>
          <%# next unless comment.root? %>
          <%#= render comment, commentable: post%>
        <%# end %>
      <%# end %>

    <%= turbo_frame_tag nested_dom_id(post, 'new_comment') %>

    <%= link_to 'Add a comment',
                new_post_comment_path(post),
                data: { turbo_frame: nested_dom_id(post, 'new_comment') } %>

  </div>
<% end %>
