<%= turbo_frame_tag post do %>
  <div id="<%= dom_id post %>">
    <p>
      <strong>Content:</strong>
      <%= post.content %>
    </p>

    <p>
      <strong>User:</strong>
      <%= post.user.first_name %>
      <%= post.user.last_name %>
    </p>

    <%= link_to "Show this post", post %>

    <% if current_user == post.user %>
      <div>
        <%= link_to "Edit this post", edit_post_path(post) %>

        <%= button_to "Destroy this post", post, method: :delete %>
      </div>
    <% end %>
  </div>
<% end %>
