<h1>Posts</h1>
<%= turbo_frame_tag 'Navigation' do %>
  <%= link_to "New post", new_post_path, data: { turbo_frame: 'new post' }%>
<% end %>

<%= turbo_frame_tag 'new post' %>

<%= turbo_frame_tag 'posts' do %>
  <%= render @posts %>
<% end %>

