<h1>Posts</h1>

<div class="card">
  <%= turbo_frame_tag 'new_post', src: new_post_path do %>
    <%= render 'posts/form_loading'%>
  <% end %>
</div>

<div class="posts">
  <%= turbo_frame_tag 'posts' do %>
    <%= render @posts %>
    <div class="empty card">
      <p>Nothing to see yet. Try making a post or adding some friends to see their posts. </p>
      <%= inline_svg_tag('svg/product_release.svg')%>
    </div>
  <% end %>
</div>


<%= turbo_frame_tag :pagination, loading: :lazy, src: posts_path(format: :turbo_stream) do %>
  Loading...
<% end %>


